<app-nav></app-nav>

<section class="gridContainer container-fluid fondoNegro">
  <div class="aside">
    <app-aside
      *ngFor="let nombreAside of titleAside"
      [nombreAside]="nombreAside"
    ></app-aside>
  </div>
  <main class="main">
    <div class="cardSobreMi gridContainer" *ngFor="let item of sobre">
      <div class="img-responsive cardImg">      
        <ng-template #valid >
          <img [src]="item.imgAbout" alt="desarrollador web"/> 
        </ng-template>       
          <div *ngIf="cargando;else valid"  class="d-flex justify-content-center text-center content-spinner">
            <div class="spinner-border text-light ml-1" role="status">              
          </div>         
        </div>      
        
    </div> 
      <div class="cardTexto">
        <div>
          <h3>{{ item.tituloAbout }}</h3>
          <div class="d-flex">
            <h3>{{ item.nombre }}</h3>
            &nbsp;  
            <h3>{{item.apellido}}</h3>
          </div>          
        </div>       
        <p>{{ item.descripion}}</p>
        <div class="datos">
          <p class="text-naranja">{{edad(item.nacimiento)}} años</p>
          <p class="text-naranja">{{item.provincia}},capital</p>
        </div>    
      </div>

    </div>
    <section class="skills">
      <div class="titles">
        <h3>{{ skill }}</h3>
      </div>
      <section class="content-skills">
        <div class="wraper" *ngFor="let h of habilidades">
          <div class="skill">
            <figure>           
              <figcaption class="text-naranja">
                {{ h.nombre }}
              </figcaption>
            </figure>
            <progress max="100" value="{{ h.numero }}"></progress>
          </div>
        </div>
      </section>
    </section>
    <section class="resume" >
      <div class="titles">
        <h2>{{ educacion }}</h2>
      </div>
      <div class="conten-resume" >
        <div class="resume-item"  *ngFor="let item of edu">         
          <h5>{{ item.instituto }}</h5>
          <div class="d-flex mt-1 ml-2">
            <div class="pl-1">
              <h2 class="text-naranja">{{ item.titulo }}</h2>
            </div>
          </div>
          <div class="resume-text">
            <div class="d-flex mt-1 ml-2">
              <p >{{ item.info }}</p>
            </div>
            <div class="d-flex fechas">
              <p class="fechas">Iniciado</p>
              <p >{{ item.inicio | date: "dd-MM-yyyy" }}</p>
            </div>
            <div class="d-flex fechas">
              <p >Finalizado</p>
              <p  >{{ item.fin | date: "dd-MM-yyyy" }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="resume-job">
      <div class="titles">
        <h2>{{ expe }}</h2>
      </div>
      <div class="resume-item"  *ngFor="let item of trabajos">
        <h4>{{item.nombre}}</h4>
        <div class="d-flex">
          <p  >{{ item.inicio | date: "yyyy" }}</p>
          <p  >{{ item.fin | date: "yyyy" }}</p>
        </div>        
        <p><em>{{item.cargo}}</em></p>
        <p>
          {{item.descripcion}}
        </p>
      </div>
    </section>
    <app-footer></app-footer>
  </main>
</section>
