<app-nav></app-nav>

<section class="gridContainer container-fluid fondoNegro">
  <div class="aside">
    <app-aside
      *ngFor="let nombreAside of titleAside"
      [nombreAside]="nombreAside"
    ></app-aside>
  </div>
  <main class="main">
    <div class="cardSobreMi gridContainer" *ngFor="let item of sobre">
      <div class="img-responsive cardImg">
        <img [src]="item.imgAbout" alt="" />
      </div>
      <div class="cardTexto">
        <h3>{{ item.tituloAbout }}</h3>
        <p>{{ item.descripion }}</p>
      </div>
    </div>
    <section class="skills">
      <div class="titles">
        <h3>{{ skill }}</h3>
      </div>
      <section class="content-skills">
        <div class="wraper" *ngFor="let h of habilidades">
          <div class="skill">
            <figure>
              <!-- <img  [src]="h.icono" alt=""> -->
              <figcaption>
                {{ h.nombre }}
              </figcaption>
            </figure>
            <progress max="100" value="{{ h.numero }}"></progress>
          </div>
        </div>
      </section>
    </section>
    <section class="resume" >
      <div class="titles">
        <h3>{{ educacion }}</h3>
      </div>
      <div class="conten-resume" >
        <div class="resume-item"  *ngFor="let item of edu">
          <span></span>
          <span></span>
          <h4>{{ item.instituto }}</h4>
          <div class="d-flex mt-1 ml-2">
            <p class="pl-1">
              <em>{{ item.titulo }}</em>
            </p>
          </div>
          <div class="resume-text">
            <div class="d-flex mt-1 ml-2">
              <p>{{ item.info }}</p>
            </div>
            <div class="d-flex mt-1 ml-2">
              <i class="span">"fech de inicio" :</i>
              <p>"{{ item.inicio | date: "dd-MM-yyyy" }}",</p>
            </div>
            <div class="d-flex mt-1 ml-2">
              <i class="span">"fech de finalizacion" :</i>
              <p>"{{ item.fin | date: "dd-MM-yyyy" }}"</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="resume-job">
      <div class="titles">
        <h3>{{ expe }}</h3>
      </div>
      <div class="resume-item">
        <h4>Master of Fine Arts &amp; Graphic Design</h4>
        <h5>2015 - 2016</h5>
        <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
        <p>
          Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam
          iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti
          nerada porti sand markend
        </p>
      </div>
    </section>
    <app-footer></app-footer>
  </main>
</section>
