@import "../../../variables.scss";
@import "../../../styles.scss";
.cardSobreMi {

  .cardImg {
    grid-column: 1/5;
    background-color: $negro;     
    border-bottom: 1rem solid $blanco;
    border-left: 0.3rem solid $blanco;
    border-right: 0.3rem solid $blanco;
    border-top: 0.3rem solid $blanco;
  }
  .cardTexto {
    grid-column: 6/13;
    h3 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      line-height: 2.2rem;
    }
    p {
      font-size: 1.1rem;
      color: $gris;
    }
  }
}
.img-responsive {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  &::before {
    /* content: " "; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: black;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0.20772058823529416) 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0.20772058823529416) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 0.20772058823529416) 100%
    );
  }
  &:hover::before {
    opacity: 0;
    transition: 2s;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
  }
}

.skills {
  margin-top: 4rem;
  background-color: $blanco;
  .titles {
    position: relative;
    
    h3 {
      text-align: center;
      font-size: 2rem;
      color: $negro;
      
    }
  }

  .content-skills {
     display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    grid-template-rows: repeat(2, 1fr);  
    .wraper{
      display: flex;
      justify-content: center;
      align-items: center;
      .skill{
        figcaption{
          color: $negro;
          font-family: "Lato", sans-serif;
          font-size: 1.1rem;
        }
        img{  
          width: 100%;
          max-height: 120px;    
          object-fit: cover;
          filter: grayscale(100%);
        }
        progress {
          -webkit-appearance: none;       
          width: 100%;
          height: 3px;
        }
        ::-webkit-progress-bar {
          background-color:rgb(168, 168, 168);
        }
        ::-webkit-progress-value {
          background-color: $negro;
        }
      }
    }
  

  }
}
@include tablet {
  .content-skills {
     gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr)) !important; 
  }
  .skills {   
    .titles {    
      h3 {        
        font-size: 2rem;
      }
    }
  }
  .cardSobreMi {
    .cardTexto {
      h3 {
        font-size: 3rem;
      }
    }
  }
}

@include laptop_desktop {  
  .resume {
    margin-top: 8rem;
    border: 7px solid $gris;
    .titles {
      margin: 3rem 0;
      h3 {     
        margin: auto;
        font-size: 9rem;
        max-inline-size: fit-content;       
      }
    }
    .resume-text{
      margin-top: 1rem;
    }
    .resume-item {
      position: relative;
     /*  border: .1px solid rgba(240, 240, 240, 0.123); */
      padding: 1rem;
      span{
        &:nth-child(1){
          content: "";
          position: absolute;
          bottom: 0;
          right:  0;
          width: 6rem;
          background-color: rgba(240, 240, 240, 0.459);
          height: 1px;  
        }
        &:nth-child(2){
          content: "";
          position: absolute;
          bottom: 0;
          right:  0;
          width: 1px;
          background-color: rgba(240, 240, 240, 0.459);
          height: 6rem;  
        }
      }
      &::before{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 6rem;
        background-color: rgba(240, 240, 240, 0.459);
        height: 1px;          
      }      
      &::after{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 1px;
        background-color:rgba(240, 240, 240, 0.459);
        height: 6rem;
      }
      p{
        font-size: 1rem;
        color: $gris;
      }      
      h4 {      
        font-size: 1.4rem;
        font-weight: 600;    
        font-family: "Poppins", sans-serif;
        color: $azul;
        margin: 0 auto;      
      }
      h5 {      
        background: rgba(255, 255, 255, 0.15);
        padding: 5px 15px;
        display: inline-block;
        font-weight: 600;
        margin-bottom: 10px;
        color: $blanco;
        margin: 1rem 0;
      }     
    }
    .span{
      font-size: 1.1rem;
      color: $blanco;
    }
  }
  .resume-job{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  
  .conten-resume{
    display: grid;   
    gap: 3rem;
    margin: 0 2rem 5rem 2rem;
    grid-template-rows: repeat(1fr); 
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
  .skills{
    margin-top: 8rem;
  }
  .content-skills { 
    display: grid;  
     gap: 3rem;
     padding: 0 2rem 5rem 2rem;
     grid-template-rows: repeat(1fr); 
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr)) !important; 
      .wraper{  
         .skill{
        position: relative;
        width: 100%;       
        img{
       
          transition:.5s ease-in-out;         
        }   
      } 
    } 

  }
  .skills {    
    .titles { 
      padding: 3rem 0;     
      h3 {
        margin:  auto;
        
        font-size: 9rem;
        max-inline-size: fit-content;
        letter-spacing: 2px;

      }
    }
  .cardSobreMi {
    .cardTexto {
      h3 {
        font-size: 3rem;
      }
    }
  }
}
}
