@import "../../../variables.scss";
@import "../../../styles.scss";
.cardSobreMi {

  .cardImg {
    grid-column: 1/5;
    background-color: $negro;     
    border-bottom: 1rem solid $blanco;
    border-left: 0.3rem solid $blanco;
    border-right: 0.3rem solid $blanco;
    border-top: 0.3rem solid $blanco;    
  }
  .cardTexto {
    grid-column: 6/13;
    margin-top: 2rem;
    >div{
      margin-bottom: 2rem;
      padding-top: 2rem;
      h3 {
        font-size: 2.5rem;       
        line-height: 2.8rem;     
      }
      div{
        h3{
          color: $naranja;
        }
      }
    }   
    p {
      font-size: 1.1rem;
 
    }
  }
}
.img-responsive {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: black;
  .datos{
    margin-top: 2rem;    
    font-size: 1.2rem;   
  }
  img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    filter: grayscale(100%);
    &:hover{
      transition: 1s all;
      filter: none;
    }
  }
}

.skills {
  margin-top: 4rem;
  background-color: $blanco;
  padding: 2rem 0;
  .titles {
    position: relative;
    margin-bottom: 2rem;    
    h3 {
      text-align: center;
      font-size: 2.8rem;
      color: $negro;      
    }
  }
  .content-skills {
     display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    grid-template-rows: repeat(2, 1fr);  
    .wraper{
      display: block;
      padding: 0.5rem;
      .skill{             
        progress {
          -webkit-appearance: none;       
          width: 100%;
          height: 3px;
        }
        ::-webkit-progress-bar {
          background-color:rgb(168, 168, 168);
        }
        ::-webkit-progress-value {
          background-color: $negro;
        }
      }
    }
  

  }
}
.resume{
  margin-top: 4rem;
  background-color: $gris;
  padding: 0 .5rem 2rem .5rem;
  .titles{
    padding-top: 2rem;
    h2{
      text-align: center;
      font-size: 2.8rem;
      color: $negro;
    }
  }
  .resume-item{
    background-color: $blanco;
    margin-top: 2rem;
    padding: .5rem;
   h6{
     color: #000;
   }
  }
  .resume-text{
    margin-top: 1rem;
    >div{
      p{
        font-family: "Lato", sans-serif;
        color: $negro;
      }
    } 
    
.fechas{       
  p{
    margin-right: .5rem;
    color: $negro;
  }
 } 
  } 
}
.resume-job{
  margin-bottom: 2rem;
  .titles{
    padding-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    &::before{
    width: 90%;
    height: 1px;
    position: absolute;
    bottom: -.5rem;
    content: " ";
    background-color: white;
    z-index: 2;
    opacity: 0.5;
    left: 1rem;    
    }
    h2{
      text-align: center;
      font-size: 2.8rem;
      color: $blanco;
    }
  }
  .resume-item{
    >div{
      margin-top: 1rem;
      p{
        margin-right: 1rem;
        color: $gris;
      }
    }
  }
}



@include tablet {
  .content-skills {
     gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr)) !important; 
  }
  .skills {   
    .titles {    
      h3 {        
        font-size: 5rem;
      }
    }
  }
  .resume{
    .titles {    
      h2 {        
        font-size: 5rem;
      }
    }
  }
  .resume-job{
    .titles {    
      h2 {        
        font-size: 5rem;
      }
    }
  }
  .cardSobreMi {
    .cardImg{
      grid-column: 1/6;
    }
    .cardTexto {
     >div{
       padding: 0;
     }
      margin: 0;
      h3 {
        font-size: 3rem;
      }
    }
  }
}
@include laptop{
  .skills {   
    .titles {    
      h3 {        
        font-size: 6.5rem;
      }
    }
  }
  .resume{
    .titles {    
      h2 {        
        font-size: 6.5rem;
      }
    }
  }
  .resume-job{
    .titles {    
      h2 {        
        font-size: 6.5rem;
      }
    }
  }
}
@include desktop {
  .cardSobreMi {
    margin-top: 0 !important;
    .cardTexto {
      >div{
        padding-top: 0 !important;       
      }
      margin: 0;
      h3 {
        font-size: 3rem;
      }
    }
  }  
  .main{
    grid-column: 3/12;
  }
   .resume {
    margin-top: 8rem;
    border: 7px solid $gris;
    background-color:$gris;
    .titles {
      margin: 3rem 0;
      h2 {     
        margin: auto;
        font-size: 9rem;
        max-inline-size: fit-content;       
      }
    }
    .resume-text{
      margin-top: 1rem;
    }
    .resume-item {
      position: relative;
      padding: 1rem;
      span{
        &:nth-child(1){
          content: "";
          position: absolute;
          bottom: 0;
          right:  0;
          width: 6rem;
          background-color: rgba(240, 240, 240, 0.459);
          height: 1px;  
        }
        &:nth-child(2){
          content: "";
          position: absolute;
          bottom: 0;
          right:  0;
          width: 1px;
          background-color: rgba(240, 240, 240, 0.459);
          height: 6rem;  
        }
      }
      &::before{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 6rem;
        background-color: rgba(240, 240, 240, 0.459);
        height: 1px;          
      }      
      &::after{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 1px;
        background-color:rgba(240, 240, 240, 0.459);
        height: 6rem;
      }
      p{
        font-size: 1rem;
        color: $gris;
      }      
      h4 {      
        font-size: 1.4rem;
        font-weight: 600;    
        font-family: "Poppins", sans-serif;
        color: $azul;
        margin: 0 auto;      
      }
      h5 {      
        background: rgba(255, 255, 255, 0.15);       
        display: inline-block;
        font-weight: 600;
        margin-bottom: 10px;
        color: $negro;
        margin: 1rem 0;
      }     
    }
    .span{
      font-size: 1.1rem;
      color: $blanco;
    }
  } 
  .resume-job{
    margin-top: 4rem;
    margin-bottom: 4rem;
    .titles{
      h2{
        font-size: 9rem;
      }
      &::before{
        width: 100%;
      }
    }
  }
  
  .conten-resume{
    display: grid;   
    gap: 3rem;
    margin: 0 2rem 5rem 2rem;
    grid-template-rows: repeat(1fr); 
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
  .skills{
    margin-top: 8rem;
  }
  .content-skills { 
    display: grid;  
     gap: 3rem;
     padding: 0 2rem 5rem 2rem;
     grid-template-rows: repeat(1fr); 
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr)) !important; 
      .wraper{  
         .skill{
        position: relative;
        width: 100%;       
        img{
       
          transition:.5s ease-in-out;         
        }   
      } 
    } 

  }
  .skills {    
    .titles { 
      padding: 3rem 0;     
      h3 {
        margin:  auto;  
        color: $negro;      
        font-size: 9rem;
        max-inline-size: fit-content;
        letter-spacing: 2px;

      }
    }
  
}
}
.spinner-border{
  border: solid $blanco;
  border-right-color: transparent;
  position: absolute;
  z-index: 100;
}