<div class="skill">
  <circle-progress
    [percent]="85"
    [radius]="100"
    [space]="-2"
    [showTitle]="true"
    [titleFontSize]="'40'"
    [unitsFontSize]="'30'"
    [showSubtitle]="false"
    [outerStrokeWidth]="3"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#ffffff'"
    [innerStrokeColor]="'#ffffffa8'"
    [animation]="true"
    [animationDuration]="300"
    [outerStrokeLinecap]="'round'"
    [backgroundStrokeWidth]="0"
    [responsive]="true"    
    [titleColor]="'#ffffff'"
    [unitsColor]="'#ffffff'"
    [showImage]="true"
    [imageSrc]="'../../../assets/icons/css.png'"
    [imageHeight]="90"
    [imageWidth]="90"
  ></circle-progress>
  <div>
    <span>85%</span>
    <span>css</span>   
  </div>
 
</div>
