<div class="container">
    <div class="row mb-3 ">
      <div
        class="card-header mb-3 d-flex align-items-center justify-content-evenly"
      >
        <h3 class="text-dark mb-0">Datos sobre tus proyectos</h3>
      
        <button
        *ngIf="realRol === 'admin'"
          data-bs-toggle="modal"
          class="d-flex flex-column btn btn-primary"
          type="button"
          (click)="openModal()"    
        >
          Nuevo
        </button>
      </div>
    </div>
    <ng-template #valid>
      <div class="row">
          <div class="col-md-6 align-items-center">
            <div class="card shadow rounded">
              <h4 class="text-dark">Por favor ingrese sus proyectos</h4> 
            </div>
          </div>
      </div>
      
     </ng-template>
   
    <div class="row" *ngIf="proyectos?.length; else valid">
      
      <div class="col-md-4 align-items-center" *ngFor="let item of proyectos"  >
       
      
        <div class="card mb-3 shadow rounded" >
         
          <div  class="card-body">
            <div class="card-text">
              <div class="d-flex flex-column ">
                <span class="fw-bold">Nombre del proyecto:</span>
                <li>{{ item.nombre }}</li>
                <span class="fw-bold">Imagen:</span>
                <li>{{ item.imagen }}</li>                
                <span class="fw-bold">Descripcion</span>
                <li class="card-text">{{ item.descripcion }}</li>
              </div>
              <ul>
                
                <div *ngIf="realRol === 'admin'" class="d-flex mt-3 w-20 justify-content-evenly">
                  <button (click)="openEditar(item)" type="button" class="btn btn-warning">Editar</button>
                  
                  <button (click)="eliminar(item)"  type="button" class="btn btn-danger">Eliminar</button>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>   
</div>
  
<div *ngIf="mostrar"  class="modal " tabindex="-1">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">f</h5>
        <button (click)="cerrarModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">               
   
         <form [formGroup]="formulario" (ngSubmit)="guardar()" >
          <div class="form-floating input-group-sm mb-3">
            <input 
              type="text"
              class="form-control"
              formControlName="nombre"        
              id="floatingInput"
            />
            <label for="floatingInput">Nombre del proyecto</label>
        <!--  <p *ngIf="apellido?.hasError('required')&& apellido?.touched" class="alert-danger">falta apellido</p>  -->
          </div>
          <div class="form-floating input-group-sm mb-3">
            <input 
              type="text"
              class="form-control"
              formControlName="imagen"        
              id="floatingInput"
            />
            <label for="floatingInput">Imagen del proyecto</label>
        <!--  <p *ngIf="apellido?.hasError('required')&& apellido?.touched" class="alert-danger">falta apellido</p>  -->
          </div>
          <div class="form-floating input-group-sm mb-3">
            <textarea    
            rows="4"
            class="form-control"
            formControlName="descripcion"        
            id="floatingInput">     
            </textarea>
            <label for="floatingInput">Descripion del proyecto</label> 
           <!--  <p *ngIf="descripion?.hasError('required')&& descripion?.touched" class="alert-danger">falta descripion</p> -->         
          </div>
       
         </form>
         
        </div>
        <div class="modal-footer  justify-content-center "> 
          
          <button
          *ngIf="!visibleBtn"
          (click)="guardar()"
          data-bs-toggle="modal"
          class="d-flex flex-column btn btn-primary"
          type="button"
        >
          Guardar
        </button>
        <button
        (click)="actualizar()"
        *ngIf="visibleBtn"
        data-bs-toggle="modal"
        class="d-flex flex-column btn btn-primary"
        type="button"        
      >
        actualizar
      </button>
        </div>
    </div>
    </div>
</div>
  