@import "../../../../variables.scss";

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #012970;
  font-family: "Nunito", sans-serif;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}
.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #012970;
}
.ocultar{
  display: none;
}
/*--------------------------------------------------------------
  # Header Nav
  --------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}
.header-nav > ul {
  margin: 0;
  padding: 0;
}
.header-nav .nav-icon {
  font-size: 20px;
  color: #012970;
}
@include laptop_desktop {
  .ocultar{
    display: block;
  }
  .header .toggle-sidebar-btn {
    display: none;
  }
  .header-nav .nav-link {
    margin: 0 0.6rem;
    padding: 0;
    color: #4154f1;
    font-weight: 500;
    transition: 0.3;
    i {
      padding-right: 0.4rem;
    }
    &:hover{
      color: #4154f1;
      background: #f6f9ff;
    }
   .user{
     font-size: 1.2rem;
   }
  }
}
a.active{  
    color: #cf7225 !important;
  }
  
