
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center ">
 <div class="d-flex logo align-items-center justify-content-between">
     
      <span routerLink="/admin" class=" d-none d-lg-block navbar-brand">Portafolio admin</span>

    <ng-template #valid><i class="bi bi-list toggle-sidebar-btn" (click)="side.openSider()"></i></ng-template>
        
    <i class="bi bi-x-lg toggle-sidebar-btn" *ngIf="side.show;else valid" (click)="side.openSider()"></i>
  </div>
  <nav class="header-nav ms-auto ">
    <ul class="d-flex align-items-center sidebar-nav">
      <li class="nav-item ocultar">
        <a class="nav-link collapsed" routerLink="sobre" routerLinkActive="active">
          <i class="bi bi-chat-dots"></i>
          <span>Sobre mi</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item ocultar">
        <a class="nav-link collapsed" routerLink="educacion" routerLinkActive="active">
          <i class="bi bi-book"></i>
          <span>Educacion</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item ocultar">
        <a class="nav-link collapsed" routerLink="trabajos" routerLinkActive="active">
          <i class="bi bi-people-fill"></i>
          <span>Trabajos</span>
        </a>
      </li><!-- End Contact Page Nav -->
      <li class="nav-item ocultar">
        <a class="nav-link collapsed" routerLink="habilidades" routerLinkActive="active">
          <i class="bi bi-clipboard-check"></i>
          <span>Habilidades</span>
        </a>
      </li>
      <li class="nav-item ocultar">
        <a class="nav-link collapsed" routerLink="proyectos" routerLinkActive="active">
          <i class="bi bi-brightness-high"></i>
          <span>Proyectos</span>
        </a>
      </li>
      <li  class="nav-link " *ngIf="isLogged"> <button type="button" (click)="onLogOut()" class="btn btn-secondary btn-sm "><i class="bi bi-box-arrow-right"></i>Cerrar sesion</button> </li>
      <li class="nav-link "><i class="bi bi-person"></i> <span class="user">{{user}}</span></li>
    </ul>
  
  </nav>
  </div>
 
 
</header>

<app-sidebar #side ></app-sidebar>