 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar" *ngIf="show" >

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="home" routerLinkActive="active">
          <i class="bi bi-person"></i>
          <span>Home</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="sobre" routerLinkActive="active">
          <i class="bi bi-question-circle"></i>
          <span>Sobre mi</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="educacion" routerLinkActive="active">
          <i class="bi bi-card-list"></i>
          <span>Educacion</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="trabajos" routerLinkActive="active">
          <i class="bi bi-envelope"></i>
          <span>Trabajos</span>
        </a>
      </li><!-- End Contact Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="habilidades" routerLinkActive="active">
          <i class="bi bi-envelope"></i>
          <span>Habilidades</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="proyectos" routerLinkActive="active">
          <i class="bi bi-envelope"></i>
          <span>Proyectos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="usuarios" routerLinkActive="active">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Usuarios</span>
        </a>
      </li>
    </ul>
  </aside>
