 <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar" *ngIf="show" >

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a (click)="closeSider()" [routerLinkActiveOptions]="{exact:
          true}" class="nav-link collapsed" routerLink="/admin" routerLinkActive="active">
          <i class="bi bi-question-circle"></i>
          <span>home</span>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="closeSider()" class="nav-link collapsed"  routerLink="sobre" routerLinkActive="active">
          <i class="bi bi-chat-dots"></i>
          <span>Sobre mi</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a  (click)="closeSider()" class="nav-link collapsed" routerLink="educacion" routerLinkActive="active">
          <i class="bi bi-book"></i>
          <span>Educacion</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a (click)="closeSider()" class="nav-link collapsed" routerLink="trabajos" routerLinkActive="active">
          <i class="bi bi-people-fill"></i>
          <span>Trabajos</span>
        </a>
      </li><!-- End Contact Page Nav -->
      <li class="nav-item">
        <a (click)="closeSider()" class="nav-link collapsed" routerLink="habilidades" routerLinkActive="active">
          <i class="bi bi-clipboard-check"></i>
          <span>Habilidades</span>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="closeSider()" class="nav-link collapsed" routerLink="proyectos" routerLinkActive="active">
          <i class="bi bi-brightness-high"></i>
          <span>Proyectos</span>
        </a>
      </li>   
    </ul>
  </aside>
