<div class="container">
  <div class="row">
    <div class="col-12 align-items-center">
      <div class="card-header mb-3 d-flex align-items-center justify-content-evenly">
        <h3 class="text-dark mb-0">Datos personales</h3>        
        <button 
        *ngIf="!personas?.length"
        data-bs-toggle="modal"
        class="d-flex flex-column btn btn-primary"
        (click)="modal.abrirModal()"
        type="button"
      >
        Nuevo
      </button>
      </div>
      <div class="card shadow rounded" >
        <div class="card-body">          
          <ng-template #valid><h3>Por favor ingrese datos</h3> </ng-template> 
          <section  *ngIf="personas?.length; else valid" class="table table-striped table-hover">
            
          
            <div *ngFor="let item of personas"> 
              <div class="d-flex w-20">
                <span class="fw-bold">Nombre:</span>
                <li>{{ item.nombre }}</li>
                <span class="fw-bold">apellido:</span>
                <li>{{ item.apellido }}</li>
                <span class="fw-bold">nacimiento:</span>
                <li>{{ item.nacimiento | date:'dd/MM/yyyy'}}</li>
                <span class="fw-bold">ocupacion</span>
                <li>{{ item.ocupacion }}</li>
                <span class="fw-bold">stack</span>
                <li>{{ item.stack }}</li>                
              </div>
              <div class="d-flex w-20">
                <span class="fw-bold">nacionalidad:</span>
                <li>{{ item.nacionalidad }}</li>
                
                <span class="fw-bold">provincia:</span>
                <li>{{ item.provincia }}</li>
                <span class="fw-bold">domicilio:</span>
                <li>{{ item.domicilio }}</li>
                <span class="fw-bold">titulo sobre mi:</span>
                <li>{{ item.tituloAbout }}</li>
                <span class="fw-bold">telefono:</span>
                <li>{{ item.nro }}</li>
              </div>
              <ul >                               
             
              
                <span class="fw-bold">descripion:</span>
                <li>{{ item.descripion }}</li>
                <div [ngStyle]="{'height':'100px'}" class="d-flex w-20 justify-content-evenly">
                  <span class="fw-bold">imagen de banner:</span> 
                  <img [src]="item.imgBanner" width="100px" height="100px" class="img-thumbnail "/>
  
                  <span class="fw-bold">imagen sobre mi:</span>                
                  <img [src]="item.imgAbout"width="100px" height="100px" class="img-thumbnail "/>

                </div>
               
                <span class="fw-bold"></span>
                <div class="d-flex w-20 justify-content-evenly ">
                  <button
                    type="button"
                    class="btn btn-warning"              
                    (click)="edit.openEdit(item)"
                  >
                    Editar
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="eliminar(item)"
                  >
                    Eliminar
                  </button>
                </div> 
              </ul> 
            </div>
          </section>
      
        
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal titulos="Agregar nuevos" (click)="cerrarModal($event)" #modal>
  <form class="needs-validation" body [formGroup]="formulario" (ngSubmit)="guardar()">
    <div class="form-floating input-group-sm mb-3 has-validation">
      <input
        type="text"
        class="form-control"
        formControlName="nombre"        
        id="floatingInput"       
      />
      <label for="floatingInput">Nombre</label>
      <div *ngIf="nombre?.errors && nombre?.touched">
        <p *ngIf="nombre?.hasError('required')" class="alert-danger">
          nombre requerido
        </p>
      </div>
    </div>
    <div class="form-floating input-group-sm mb-3">
      <input 
        type="text"
        class="form-control"
        formControlName="apellido"        
        id="floatingInput"
      />
      <label for="floatingInput">Apellido</label>
   <p *ngIf="apellido?.hasError('required')&& apellido?.touched" class="alert-danger">falta apellido</p> 
    </div>
    <div class="form-floating input-group-sm mb-3">
      <input 
        type="date"
        class="form-control"
        formControlName="nacimiento"        
        id="floatingInput"
      />
      <label for="floatingInput">nacimiento</label>
      <p *ngIf="nacimiento?.hasError('required')&& nacimiento?.touched" class="alert-danger">falta nacimiento</p>   
    </div>
    <div class="form-floating input-group-sm mb-3">
      <input 
        type="text"
        class="form-control"
        formControlName="ocupacion"        
        id="floatingInput"
      />
      <label for="floatingInput">ocupacion</label>
      <p *ngIf="ocupacion?.hasError('required')&& ocupacion?.touched" class="alert-danger">falta ocupacion</p>   
    </div>
    <div class="form-floating input-group-sm mb-3">
      <input 
        type="text"
        class="form-control"
        formControlName="stack"        
        id="floatingInput"
      />
      <label for="floatingInput">stack</label>
      <p *ngIf="stack?.hasError('required')&& stack?.touched" class="alert-danger">falta stack</p>    
    </div>
    <div class="form-floating input-group-sm mb-3">
      <input 
        type="text"
        class="form-control"
        formControlName="nacionalidad"        
        id="floatingInput"
      />
      <label for="floatingInput">nacionalidad</label> 
      <p *ngIf="nacionalidad?.hasError('required')&& nacionalidad?.touched" class="alert-danger">falta nacionalidad</p>      
    </div>
    <div class="form-floating input-group-sm mb-3">
      <input 
        type="text"
        class="form-control"
        formControlName="provincia"        
        id="floatingInput"
      />
      <label for="floatingInput">provincia</label> 
      <p *ngIf="provincia?.hasError('required')&& provincia?.touched" class="alert-danger">falta provincia</p>    
    </div>
    <div class="form-floating input-group-sm mb-3">
      <input 
        type="text"
        class="form-control"
        formControlName="domicilio"        
        id="floatingInput"
      />
      <label for="floatingInput">domicilio</label>
      <p *ngIf="domicilio?.hasError('required')&& domicilio?.touched" class="alert-danger">falta domicilio</p>       
    </div>
    <div class="form-floating input-group-sm mb-3">
      <textarea    
      rows="4"
      class="form-control"
      formControlName="descripion"        
      id="floatingInput">     
      </textarea>
      <label for="floatingInput">descripion</label> 
      <p *ngIf="descripion?.hasError('required')&& descripion?.touched" class="alert-danger">falta descripion</p>         
    </div>
    <div class="form-floating input-group-sm mb-3">
      <input 
        type="text"
        class="form-control"
        formControlName="imgBanner"        
        id="floatingInput"
      />
      <label for="floatingInput">imagen de banner</label> 
      <p *ngIf="imgBanner?.hasError('required')&& imgBanner?.touched" class="alert-danger">falta imagen</p>           
    </div>
    <div class="form-floating input-group-sm mb-3">
      <input 
        type="text"
        class="form-control"
        formControlName="imgAbout"        
        id="floatingInput"
      />
      <label for="floatingInput">imagen de sobre mi</label> 
      <p *ngIf="imgAbout?.hasError('required')&& imgAbout?.touched" class="alert-danger">falta imagen</p>  
    </div>
    <div class="form-floating input-group-sm mb-3">
      <input 
        type="text"
        class="form-control"
        formControlName="tituloAbout"        
        id="floatingInput"
      />
      <label for="floatingInput">titulo sobre mi</label> 
      <p *ngIf="tituloAbout?.hasError('required')&& tituloAbout?.touched" class="alert-danger">falta titulo</p>    
    </div>
    <div class="form-floating input-group-sm mb-3">
      <input 
        type="text"
        class="form-control"
        formControlName="nro"        
        id="floatingInput"
      />
      <label for="floatingInput">numero de telefono</label> 
      <p *ngIf="nro?.hasError('required')&& nro?.touched" class="alert-danger">falta nro</p>      
    </div>
  </form>

  <div footer class="d-flex w-50 justify-content-between">
    <button
      (click)="modal.cerrarModal()"
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
    >
      cancelar
    </button>
    <button type="submit" class="btn btn-primary" (click)="guardar()">
      guardar
    </button>
  </div>
</app-modal>


 <app-edit-modal titulo="Editar datos" [Ediformulario]="Ediformulario" #edit (click)="closeEdit($event)">
  <div body>   
    <form class="needs-validation"  [formGroup]="Ediformulario" (ngSubmit)="editar()">
      <div class="form-floating input-group-sm mb-3 has-validation">
        <input
          type="text"
          class="form-control"
          formControlName="nombre"        
          id="floatingInput"       
        />
        <label for="floatingInput">Nombre</label>
        <div *ngIf="nombre?.errors && nombre?.touched">
          <p *ngIf="nombre?.hasError('required')" class="alert-danger">
            nombre requerido
          </p>
        </div>
      </div>
      <div class="form-floating input-group-sm mb-3">
        <input 
          type="text"
          class="form-control"
          formControlName="apellido"        
          id="floatingInput"
        />
        <label for="floatingInput">Apellido</label>
     <p *ngIf="apellido?.hasError('required')&& apellido?.touched" class="alert-danger">falta apellido</p> 
      </div>
      <div class="form-floating input-group-sm mb-3">
        <input 
          type="date"
          class="form-control"
          formControlName="nacimiento"        
          id="floatingInput"
        />
        <label for="floatingInput">nacimiento</label>
        <p *ngIf="nacimiento?.hasError('required')&& nacimiento?.touched" class="alert-danger">falta nacimiento</p>   
      </div>
      <div class="form-floating input-group-sm mb-3">
        <input 
          type="text"
          class="form-control"
          formControlName="ocupacion"        
          id="floatingInput"
        />
        <label for="floatingInput">ocupacion</label>
        <p *ngIf="ocupacion?.hasError('required')&& ocupacion?.touched" class="alert-danger">falta ocupacion</p>   
      </div>
      <div class="form-floating input-group-sm mb-3">
        <input 
          type="text"
          class="form-control"
          formControlName="stack"        
          id="floatingInput"
        />
        <label for="floatingInput">stack</label>
        <p *ngIf="stack?.hasError('required')&& stack?.touched" class="alert-danger">falta stack</p>    
      </div>
      <div class="form-floating input-group-sm mb-3">
        <input 
          type="text"
          class="form-control"
          formControlName="nacionalidad"        
          id="floatingInput"
        />
        <label for="floatingInput">nacionalidad</label> 
        <p *ngIf="nacionalidad?.hasError('required')&& nacionalidad?.touched" class="alert-danger">falta nacionalidad</p>      
      </div>
      <div class="form-floating input-group-sm mb-3">
        <input 
          type="text"
          class="form-control"
          formControlName="provincia"        
          id="floatingInput"
        />
        <label for="floatingInput">provincia</label> 
        <p *ngIf="provincia?.hasError('required')&& provincia?.touched" class="alert-danger">falta provincia</p>    
      </div>
      <div class="form-floating input-group-sm mb-3">
        <input 
          type="text"
          class="form-control"
          formControlName="domicilio"        
          id="floatingInput"
        />
        <label for="floatingInput">domicilio</label>
        <p *ngIf="domicilio?.hasError('required')&& domicilio?.touched" class="alert-danger">falta domicilio</p>       
      </div>
      <div class="form-floating input-group-sm mb-3">
        <textarea    
        rows="4"
        class="form-control"
        formControlName="descripion"        
        id="floatingInput">     
        </textarea>
        <label for="floatingInput">descripion</label> 
        <p *ngIf="descripion?.hasError('required')&& descripion?.touched" class="alert-danger">falta descripion</p>         
      </div>
      <div class="form-floating input-group-sm mb-3">
        <input 
          type="text"
          class="form-control"
          formControlName="imgBanner"        
          id="floatingInput"
        />
        <label for="floatingInput">imagen de banner</label> 
        <p *ngIf="imgBanner?.hasError('required')&& imgBanner?.touched" class="alert-danger">falta imagen</p>           
      </div>
      <div class="form-floating input-group-sm mb-3">
        <input 
          type="text"
          class="form-control"
          formControlName="imgAbout"        
          id="floatingInput"
        />
        <label for="floatingInput">imagen de sobre mi</label> 
        <p *ngIf="imgAbout?.hasError('required')&& imgAbout?.touched" class="alert-danger">falta imagen</p>  
      </div>
      <div class="form-floating input-group-sm mb-3">
        <input 
          type="text"
          class="form-control"
          formControlName="tituloAbout"        
          id="floatingInput"
        />
        <label for="floatingInput">titulo sobre mi</label> 
        <p *ngIf="tituloAbout?.hasError('required')&& tituloAbout?.touched" class="alert-danger">falta titulo</p>    
      </div>
      <div class="form-floating input-group-sm mb-3">
        <input 
          type="text"
          class="form-control"
          formControlName="nro"        
          id="floatingInput"
        />
        <label for="floatingInput">numero de telefono</label> 
        <p *ngIf="nro?.hasError('required')&& nro?.touched" class="alert-danger">falta nro</p>      
      </div> 
     </form>

  </div>
  <div footer class="d-flex w-50 justify-content-between">
    <button
      (click)="edit.closeEdit()"
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
    >
      cancelar
    </button>
    <button type="submit" class="btn btn-primary" (click)="editar()">
      Actualizar
    </button>
  </div>
</app-edit-modal> 