<div class="container">
  <div class="row">
    <div class="col-12 align-items-center">
      <div class="card-header mb-3 d-flex align-items-center justify-content-evenly">
        <h3 class="text-dark mb-0">Datos personales</h3>
        <!-- *ngIf="!personas?.length" -->
        <button 
        *ngIf="!personas?.length"
        data-bs-toggle="modal"
        class="d-flex flex-column btn btn-primary"
        (click)="modal.abrirModal()"
        type="button"
      >
        Nuevo
      </button>
      </div>
      <div class="card" >
        <div class="card-body">          
          <ng-template #valid><h3>Por favor ingrese datos</h3> </ng-template> 
          <table  *ngIf="personas?.length; else valid" class="table table-striped table-hover">
            
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">nombre</th>
                <th scope="col">apellido</th>                
              </tr>
            </thead>
            <tbody *ngFor="let item of personas">
              <tr >
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.nombre }}</td>
                <td>{{ item.apellido }}</td>
                <td></td>
                <div class="d-flex w-20 justify-content-evenly ">
                  <button
                    type="button"
                    class="btn btn-warning"              
                    (click)="edit.openEdit(item)"
                  >
                    Editar
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="eliminar(item)"
                  >
                    Eliminar
                  </button>
                </div> 
              </tr>
           
             
            </tbody>
          </table>
      
        
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal titulos="Agregar nuevos" (click)="cerrarModal($event)" #modal>
  <form class="needs-validation" body [formGroup]="formulario" (ngSubmit)="guardar()">
    <div class="form-floating input-group-sm mb-3 has-validation">
      <input
        type="text"
        class="form-control"
        formControlName="nombre"        
        id="floatingInput"       
      />
      <label for="floatingInput">Nombre</label>
      <div *ngIf="nombre?.errors && nombre?.touched">
        <p *ngIf="nombre?.hasError('required')" class="alert-danger">
          nombre requerido
        </p>
      </div>
    </div>
    <div class="form-floating input-group-sm mb-3">
      <input 
        type="text"
        class="form-control"
        formControlName="apellido"        
        id="floatingInput"
      />
      <label for="floatingInput">Apellido</label>
   <p *ngIf="apellido?.hasError('required')&& apellido?.touched" class="alert-danger">falta apellido</p> 
    </div>
    
  </form>

  <!--   <form [formGroup]="formulario" >  
     


      <div class="form-floating mb-3">
        <input type="password" class="form-control"formControlName="apellido"  placeholder="inrese su apellido">
        <label for="floatingPassword">Apellido</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>     
    </form> -->
  <div footer class="d-flex w-50 justify-content-between">
    <button
      (click)="modal.cerrarModal()"
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
    >
      cancelar
    </button>
    <button type="submit" class="btn btn-primary" (click)="guardar()">
      guardar
    </button>
  </div>
</app-modal>


 <app-edit-modal titulo="Editar datos" [Ediformulario]="Ediformulario" #edit (click)="closeEdit($event)">
  <div body>   
    <form class="needs-validation"  [formGroup]="Ediformulario" (ngSubmit)="editar()">
          <div class="form-floating input-group-sm mb-3 has-validation">
            <input
              type="text"
              class="form-control"
              formControlName="nombre"        
              id="floatingInput"       
            />
            <label for="floatingInput">Nombre</label>
            <div *ngIf="nombre?.errors && nombre?.touched">
              <p *ngIf="nombre?.hasError('required')" class="alert-danger">
                nombre requerido
              </p>
            </div>
          </div>
          <div class="form-floating input-group-sm mb-3">
            <input 
              type="text"
              class="form-control"
              formControlName="apellido"        
              id="floatingInput"
            />
            <label for="floatingInput">Apellido</label>
         <p *ngIf="apellido?.hasError('required')&& apellido?.touched" class="alert-danger">falta apellido</p> 
          </div>
          <div class="form-floating input-group-sm mb-3">
            <input 
              type="text"
              class="form-control"
              formControlName="apellido"        
              id="floatingInput"
            />
            <label for="floatingInput">Apellido</label>
         <p *ngIf="apellido?.hasError('required')&& apellido?.touched" class="alert-danger">falta apellido</p> 
          </div>
          <div class="form-floating input-group-sm mb-3">
            <input 
              type="text"
              class="form-control"
              formControlName="apellido"        
              id="floatingInput"
            />
            <label for="floatingInput">Apellido</label>
         <p *ngIf="apellido?.hasError('required')&& apellido?.touched" class="alert-danger">falta apellido</p> 
          </div>
          <div class="form-floating input-group-sm mb-3">
            <input 
              type="text"
              class="form-control"
              formControlName="apellido"        
              id="floatingInput"
            />
            <label for="floatingInput">Apellido</label>
         <p *ngIf="apellido?.hasError('required')&& apellido?.touched" class="alert-danger">falta apellido</p> 
          </div>
          <div class="form-floating input-group-sm mb-3">
            <input 
              type="text"
              class="form-control"
              formControlName="apellido"        
              id="floatingInput"
            />
            <label for="floatingInput">Apellido</label>
         <p *ngIf="apellido?.hasError('required')&& apellido?.touched" class="alert-danger">falta apellido</p> 
          </div>
          <div class="form-floating input-group-sm mb-3">
            <input 
              type="text"
              class="form-control"
              formControlName="apellido"        
              id="floatingInput"
            />
            <label for="floatingInput">Apellido</label>
         <p *ngIf="apellido?.hasError('required')&& apellido?.touched" class="alert-danger">falta apellido</p> 
          </div>
     </form>

  </div>
  <div footer class="d-flex w-50 justify-content-between">
    <button
      (click)="edit.closeEdit()"
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
    >
      cancelar
    </button>
    <button type="submit" class="btn btn-primary" (click)="editar()">
      Actualizar
    </button>
  </div>
</app-edit-modal> 