h1,h2,h3,h4,h5,p,span,i{
    color: black;
}
li{
    list-style-type: none;
}
.modal{
    display: block!important;
    background-color: rgba(0, 0, 0, 0.719);
}
.card-header{
    background-color: rgba(59, 59, 59, 0.486);
    border-bottom: 1px solid rgba(243, 243, 243, 0.125);
}