@import "../../../variables.scss";
@import "../../../styles.scss";
body,html{
  background-color: #000000 !important;
}
.alert-danger{
  color: #c30d0d;
}
.spinner-border{
  border: 0.25em solid $azul;
  border-right-color: transparent;
}
.main {
  h3 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .container-form {    
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;   
  }
}
.form {
  width: 100%;
}

$bg-color: #424242;
$hl-color: #2196f3;
$muted-color: mix(white, $bg-color, 70%);
$trans-time: 300ms;
$width: 100%;

:focus {
  outline: none;
}

.input-container {
  width: $width;
  margin: 42px 0;
  position: relative;
  >div{
    position: absolute;
  }
}

input[type="text"],input[type="textarea"],
textarea {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: $blanco;
  width: $width;
  box-sizing: border-box;
  letter-spacing: 1px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $blanco;
  position: relative;  
}
input[type="text"]{
  height: 2rem;
}
.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: $azul;
  transition: 0.4s;
}

.effect-1:focus ~ .focus-border {
  width: $width;
  transition: 0.4s;
}
.effect-1-txt ~ .focus-border-txt {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: $azul;
  transition: 0.4s;
}

.effect-1-txt:focus ~ .focus-border-txt {
  width: $width;
  transition: 0.4s;
}


@media only screen and (min-width: 568px) {
  .form {
    width: 20rem;
    .botonP{
      width: 20rem;
    }   
  }
  .main{
    h3{
      font-size: 2.5rem;
    }
  }
  
}

@include laptop_desktop {
  .form {
    width: 21rem;
    .botonP{
      width: 21rem;
    }
  }
}
@include laptop{
  .main{
    h3{
      font-size: 2.2rem;
    }
  }
}