
  <div class="row mb-3 ">
    <div class="col-12">
       <div
      class="card-header mb-3 d-flex align-items-center justify-content-evenly"
    >
      <h3 class="text-light mb-0">Datos sobre tu educaciones</h3>
    
      <button  
      *ngIf="realRol === 'admin'"        
        class="d-flex flex-column btn btn-primary"
        type="button"
        (click)="openModal()"  
      >
        Nuevo
      </button>
    </div>
    </div>
   
  </div>
 <ng-template #valid >  
    <div class="row">
        <div class="col-md-12 align-items-center">          
          <div class="card shadow rounded">
            <app-loader-dashboard></app-loader-dashboard>            
           <h3 class="text-dark">Por favor ingrese sus educaciones</h3>
          </div>
        </div>
    </div>
  </ng-template>
  
 
  <div class="row" *ngIf="educaciones?.length; else valid">
    
    <div class="col-md-4 align-items-center" *ngFor="let item of educaciones"  >
     
    
      <div class="card mb-3 shadow rounded" >
       
        <div  class="card-body">
          <div class="card-text">
            <div class="d-flex flex-column ">
              <span class="fw-bold">Institucion:</span>
              <li>{{ item.instituto }}</li>
              <span class="fw-bold">Titulo:</span>
              <li>{{ item.titulo }}</li>
              <span class="fw-bold">Desde:</span>
              <li>{{ item.inicio | date: "dd/MM/yyyy" }}</li>
              <span class="fw-bold">Hasta:</span>
              <li>{{ item.fin | date: "dd/MM/yyyy" }}</li>
              <span class="fw-bold">Descripcion</span>
              <li class="card-text">{{ item.info }}</li>
            </div>
            <ul>
              
              <div  *ngIf="realRol === 'admin'" class="d-flex mt-3 w-20 justify-content-evenly">
                <button (click)="openEditar(item)" type="button" class="btn btn-warning">Editar</button>
                
                <button (click)="eliminar(item)" type="button" class="btn btn-danger">Eliminar</button>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 




<div *ngIf="mostrar"  class="modal " tabindex="-1">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        <ng-template #valido>
          
          <h2 class="text-dark">Actualiza tus datos</h2>
        </ng-template>
        
      <h2  *ngIf="!visibleBtn;else valido" class="modal-title text-dark">Guardar</h2 >
      <button (click)="cerrarModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">               
 
       <form [formGroup]="formulario" (ngSubmit)="guardar()" >
        <div class="form-floating input-group-sm mb-3">
          <input 
            type="text"
            class="form-control"
            formControlName="titulo"        
            id="floatingInput"
          />
          <label for="floatingInput">titulo</label>
       <p *ngIf="titulo?.hasError('required')&& titulo?.touched" class="alert-danger">falta titulo</p> 
        </div>
        <div class="form-floating input-group-sm mb-3">
          <input 
            type="text"
            class="form-control"
            formControlName="instituto"        
            id="floatingInput"
          />
          <label for="floatingInput">instituto</label>
       <p *ngIf="instituto?.hasError('required')&& instituto?.touched" class="alert-danger">falta instituto</p> 
        </div>
        <div class="form-floating input-group-sm mb-3">
          <textarea    
          rows="4"
          class="form-control"
          formControlName="info"        
          id="floatingInput">     
          </textarea>
          <label for="floatingInput">descripion</label> 
          <p *ngIf="info?.hasError('required')&& info?.touched" class="alert-danger">falta info</p>         
        </div>
        <div class="form-floating input-group-sm mb-3">
          <input 
            type="date"
            class="form-control"
            formControlName="inicio"        
            id="floatingInput"
          />
          <label for="floatingInput">Desde</label>
          <p *ngIf="inicio?.hasError('required')&& inicio?.touched" class="alert-danger">falta Desde</p>   
        </div>
        <div class="form-floating input-group-sm mb-3">
          <input 
            type="date"
            class="form-control"
            formControlName="fin"        
            id="floatingInput"
          />
          <label for="floatingInput">Hasta</label>
          <p *ngIf="fin?.hasError('required')&& fin?.touched" class="alert-danger">falta Hasta</p>   
        </div>
       </form>
       
      </div>
      <div class="modal-footer  justify-content-center "> 
        
        <button
        *ngIf="!visibleBtn"
        (click)="guardar()"        
        class="d-flex flex-column btn btn-primary"
        type="button"
      >
        Guardar
      </button>
      <button
      *ngIf="visibleBtn"     
      class="d-flex flex-column btn btn-primary"
      type="button"
      (click)="actualizar()"
    >
      actualizar
    </button>
      </div>
  </div>
  </div>
</div>


