<div class="container">
  <section
    class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
        >
          <div class="card mb-3">
            <div class="card-body">
              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Registrate</h5>
              </div>
             
              <form
                class="row g-3 needs-validation"
                [formGroup]="formularioR"
              (ngSubmit)="registro()"
                
              >
                <div class="col-12">
                  <label for="yourUsername" class="form-label">Nombre</label>
                  <input
                    type="text"
                    formControlName="nombre"
                    class="form-control"                   
                  />
                <!--   <div class="input-group has-validation">
                    <div *ngIf="usuario?.errors && usuario?.touched">
                      <p
                        *ngIf="usuario?.hasError('required')"
                        class="alert-danger"
                      >
                        ingrese su usuario!
                      </p>
                    </div>
                  </div> -->
                </div>
                <div class="col-12">
                  <label for="yourPassword" class="form-label">nombre de usuario</label>
                  <input
                    type="text"
                    formControlName="username"
                    class="form-control has-validation"
                  />
                <!--   <div *ngIf="passwords?.errors && passwords?.touched">
                    <p
                      *ngIf="passwords?.hasError('required')"
                      class="alert-danger"
                    >
                      ingrese su password!
                    </p>
                  </div> -->
                </div>
                <div class="col-12">
                    <label for="yourPassword" class="form-label">Email</label>
                    <input
                      type="email"
                      formControlName="email"
                      class="form-control has-validation"
                    />
                  <!--   <div *ngIf="passwords?.errors && passwords?.touched">
                      <p
                        *ngIf="passwords?.hasError('required')"
                        class="alert-danger"
                      >
                        ingrese su password!
                      </p>
                    </div> -->
                  </div>
                  <div class="col-12">
                    <label for="yourPassword" class="form-label">password</label>
                    <input
                      type="password"
                      formControlName="password"
                      class="form-control has-validation"
                    />
                  <!--   <div *ngIf="passwords?.errors && passwords?.touched">
                      <p
                        *ngIf="passwords?.hasError('required')"
                        class="alert-danger"
                      >
                        ingrese su password!
                      </p>
                    </div> -->
                  </div>
                  <select formControlName="roles" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>elije tu rol</option>
                    <option                     
                    *ngFor="let r of rol" >{{ r }}</option>
                  </select> 
                 <!--  <input type="text" formControlName="roles" > -->
                <div class="col-12">                 
                  <button
                    class="btn btn-primary w-100 mt-5"
                   type="submit"
                  >
                    Crear cuenta
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
