/*html >.main-dashboard{
background-color:rgb(143, 118, 118) !important;
 height: 100vh !important;    
}*/
html,body{
 
  height: 100vh!important;
}
.main-dashboard{
 
  /* height: 100vh !important;   */
  p{
    color: black !important;
  }
  .section-dashboard{
    
    
   width: 80%;
   height: max-content;  
   margin-left: 20%;
   padding-top: 10vh;
        p{
          color: black!important;
        }
  }
}
