@import "../../../variables.scss";
.sectionFooter {
  text-align: center;
  margin-top: 4rem;
  .Pfooter {
    font-size: 0.8rem;
    color: $gris;
    margin-bottom: .5rem;
  }
  .spanfooter {
    font-size: 0.8rem;
    color: $gris;
    
  }
}
