<div class="cardWorks">
  <div class="content-img"> 
    <img [src]="item.imagen" alt="" />
  </div>
  <div class="content-desc">
    <h3>{{ item.nombre }}</h3>
    <p>{{ item.descripcion }}</p>
    <ng-content></ng-content>
   <!--  <div class="content-icons">
      <img [src]="item.vue" alt="" />
      <img [src]="item.css" alt="" />
      <img [src]="item.nuxt" alt="" />
    </div> -->
    <div>
      <button class="botonP" > <a target="_blank" href="https://github.com/renatogastonruizgithub/irradiando">Ver proyecto  </a></button>

    </div>   

  </div>
</div>
